.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 90px;
}
.header__title {
  text-transform: capitalize;
}
.header__subtitle {
  color: var(--tertiary-color);
  max-width: 45ch;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
}
.headerImage {
  position: absolute;
  right: 280px;
  margin-bottom: 400px;
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    width: 30ch;
    text-align: center;
    font-size: 14px;
  }
  .header__title {
    font-size: 16px;
  }
 
}
