.card__info--detail {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card__rating {
  display: flex;
  border: 2px solid green;
}
.card .card__img {
  min-width: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
  .card__info--detail {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
