:root {
  --primary-color: #111315;
  --secondary-color: #1b1d1f;
  --danger-color: #ed735d;
  --success-color: #bee3cc;
  --warning-color: #f6c768;
  --accent-color: #fef7ee;
  --tertiary-color: #6f757c;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "DM Sans", sans-serif;

  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  min-height: 100vh;
}

h1,
p,
h3 {
  margin: 0;
  padding: 0;
}
